---
title: Chris Wilkinson
date: 2018-09-29T08:42:31.000+00:00
description: An experienced finance and business expert with 20+ years’ experience
  across banking, FX, asset finance, invoice finance, trade and working capital.
designation: Director & Senior ​Consultant
image: images/team-page-45.jpg
bgImage: images/background/page-title.jpg
facebookURL: ''
twitterURL: ''
linkedinURL: https://www.linkedin.com/in/chriswilkinson2/
googlePlusURL: ''
projectDone: More than 100
successRate: 100%
experienceOf: 13 Years
from: London, UK
cvURL: "#"
mobile: "+44 20 7931 9881"
email: chris.wilkinson@moneypowerglobal.com
location: 1 Northumberland Avenue  Trafalgar Square  London, WC2N 5BW  UK.
Benchmarking: 85%
consulting: 90%
Advisory: 75%

---
#### Work History

Founded a recruitment company and successfully ran this for three years before selling the business to move back into finance. Previously worked in the financial services industry including roles at Barclays Corporate Banking, HBOS and HFC/HSBC Bank.
