{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.contact.enable }}
{{ "<!-- contact -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-5">
               {{ with $data.contact.title }} <h2 class="section-title">{{ . }}</h2> {{ end }}
                <ul class="pl-0">
                    {{ range $data.contact.contactList }}
                    {{ "<!-- contact items -->" | safeHTML }}
                    <li class="d-flex mb-30">
                        <i class="round-icon mr-3 {{ .icon }}"></i>
                        <div class="align-self-center font-primary">
                            <p>{{ .listItem1 }}</p>
                            <p>{{ .listItem2 }}</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ "<!-- form -->" | safeHTML }}
            <div class="col-lg-6 col-md-7">
                <div class="p-5 rounded box-shadow">
            <form class = 'form' action = '' method = 'POST' accept-charset = 'UTF-8'>
  <label class = 'form_label' for = 'name'>Name</label>
  <input type = 'text' class = 'mb-1 form_input'  id = 'name' name = 'Name' placeholder = 'Full Name' required>
  <label class = 'form_label' for = 'email'>Email Address</label>
  <input type = 'email' class = 'form_input mb-1' id = 'email' name = 'Email' placeholder = 'you@awesome.com' required>
  <label class = 'form_label' for = 'message'>Message</label>
  <textarea name = 'Message' class = 'mb-1 form_input' id = 'message' rows = '1' placeholder = 'Message' required></textarea>
  <label class = 'form_label' for = 'question_1'>Questions about the book</label>
  <textarea name = 'Message' class = 'mb-1 form_input' id = 'question_1' rows = '1' placeholder = 'Questions about the book'></textarea>
  <!-- <label class = 'form_label' for = 'question_2'>Questions about joining a Syndicate</label>
  <textarea name = 'Message' class = 'mb-1 form_input' id = 'question_2' rows = '1' placeholder = 'Questions about joining a Syndicate'></textarea> -->
  <div>
    <button  class = 'btn' type = 'submit' id = 'submit'>Submit</button>
  </div>
</form>
 </div>
  </div>
            
        </div>
    </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}
{{ end }}
