{{ "<!-- form -->" | safeHTML }}
             <div class="col-lg-6 col-md-7">
                <div class="p-5 rounded box-shadow">
                    <form action="admin@moneypowerglobal.international" class="row">                       
                        <div class="col-lg-12">
                            {{ with $data.contact.formTitle }} <h3 class="mb-4">{{ . }}</h3> {{ end }}
                        </div>
                        <div class="col-lg-6">
                            <input type="text" name="name" id="name" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Last Name" required>
                        </div>
                         <div class="col-lg-6">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Company Name" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                required>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject"
                                required>
                        </div>
                        <div class="col-lg-12">
                            <textarea class="form-control p-2" name="message" id="message" placeholder="Your Message Here..."
                                required style="height: 150px;"></textarea>
                        </div>
                        <div class="col-lg-12">
                            {{ with $data.contact.btnText }} <button class="btn btn-primary" type="submit" value="send">{{ . }}</button> {{ end }}
                        </div>
                    </form>
                </div>
