<!DOCTYPE html>
<html>
<body>
<section class="section">             
  <div class="container">
       <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h3 class="section-title section-title-border">Team Photos</h3>
                <img src="/images/team1.jpg" alt="Person" style="width:80%">
                    <h6><b>Implementation Team for Germany</b></h6>
                    <p>Group Photo</p>
           
                <img src="/images/team2.jpg" alt="Person" style="width:80%">
                    <h6><b>Implementation Team for UAE</b></h6>
                    <p>Group Photo</p>
           
                <img src="/images/team3.jpg" alt="Person" style="width:80%">
                    <h4><b>Implementation Team For US</b></h4>
                    <p>Group Photo</p>
            
                <img src="/images/team4.jpg" alt="Person" style="width:80%">
                    <h4><b>Implementation Team for UK</b></h6>
                    <p>Group Photo</p>
            
                <img src="/images/harry.jpg" alt="Person" style="width:80%">
                    <h4><b>Harry</b></h4>
                    <p>Director</p>
                <img src="/images/tom.jpg" alt="Person" style="width:80%">
                    <h4><b>Tom</b></h4>
                    <p>Director</p>
            </div>
         </div>
      </div>
</body>
</html>
