<!DOCTYPE html>
<html>
<body>
<section class="section">             
  <div class="container">
       <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h3 class="section-title section-title-border">Team Photos</h3>
                <img src="/images/pauline.png" alt="Person" style="width:80%">
                    <h6><b>Pauline</b></h6>
                    <p>The boss of all bosses</p>
           
                <img class="img-fluid w-100 rounded-top" src="/images/pauline.png" alt="Person">
                    <h6><b>Pauline</b></h6>
                    <p>The boss of all bosses</p>
           
                <img src="/images/pauline.png" alt="Person" style="width:80%">
                    <h6><b>Pauline</b></h6>
                    <p>The boss of all bosses</p>
            
                <img src="/images/pauline.png" alt="Person" style="width:80%">
                    <h6><b>Pauline</b></h6>
                    <p>The boss of all bosses</p>
            
                <img src="/images/pauline.png" alt="Person" style="width:80%">
                    <h6><b>Pauline</b></h6>
                    <p>The boss of all bosses</p>
            </div>
         </div>
      </div>
</body>
</html>
