{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.pricing.enable }}
{{ "<!-- pricing -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border">The Implementation</h2>
                <div>
                   <p>Our Team of Practitioners include accountants, marketing gurus, consultants, advisors, bankers, project managers, and various levels of support staff. Below is a selection of our Team Members in various in situ offices doing what they do best - to lead the way for Clients and teach Clients’ staff Members best practices so that improved performance and results  are long- lasting.</p>
            </div>
                <h2 class="section-title section-title-border"></h2>
            </div>

        </div>
    </div>
</section>
{{ "<!-- /pricing -->" | safeHTML }}
{{ end }}
